// the file name (without extension) is used as the internal key for the block
(
	display_name: "Block Name",
	textures: (
		// the fallback texture will apply to any face that doesn't have an
		// assigned texture and is ALWAYS required
		fallback: "texture_file_name_without_extension",

		// these textures are optional and can be omitted in favor of the fallback
		top: Some("texture_file_name"),    // +Y
		bottom: Some("texture_file_name"), // -Y
		right: Some("texture_file_name"),  // +X
		left: Some("texture_file_name"),   // -X
		front: Some("texture_file_name"),  // +Z
		back: Some("texture_file_name"),   // -Z
	),
	// this flag controls whether you can see through the block
	//
	// if set incorrectly, the mesher won't know to mesh behind/below it
	// and the render pipeline will not draw it at the proper time
	is_transparent: false,
)
