// the file name (without extension) is used as the internal key for the biome
(
	name: "Biome Display Name",

	// tint colors (RGB, 0.0 to 1.0) are OPTIONAL
	//
	// these colors will be multiplied with the base colors
	// of the block to create biome-specific variations
	tint_colors: Some((
		// grass: None, can be excluded
		water: Some((0.1, 0.1, 0.0)),
	)),

	// this section defines parameters for terrain generation
	terrain: (
		// the material used for the surface layer of the terrain
		surface_material: "stone", // REQUIRED
		// the material used for the subsurface layer of the terrain
		subsurface_material: "dirt", // REQUIRED
	),
)
