(
    name: "Forest",
    tint_colors: Some((
        grass: Some((0.3, 0.6, 0.2)),
        water: Some((0.1, 0.3, 0.6)),
    )),
    terrain: (
        surface_material: "grass",
        subsurface_material: "dirt",
    ),
)
