(
    name: "Jungle",
    tint_colors: Some((
        grass: Some((0.2, 0.8, 0.1)),
        water: Some((0.1, 0.5, 0.4)),
    )),
    terrain: (
        surface_material: "grass",
        subsurface_material: "dirt",
    ),
)
