(
    name: "Swamp",
    tint_colors: Some((
        grass: Some((0.3, 0.4, 0.2)),
        water: Some((0.2, 0.3, 0.2)),
    )),
    terrain: (
        surface_material: "grass",
        subsurface_material: "dirt",
    ),
)
